{% macro tnaButton(params) %}
{%- set buttonClasses = [params.classes] if params.classes else [] -%}
{%- if params.accent -%}
  {%- set buttonClasses = buttonClasses + ['tna-button--accent'] -%}
{%- endif -%}
{%- if params.small -%}
  {%- set buttonClasses = buttonClasses + ['tna-button--small'] -%}
{%- endif -%}
{%- if params.plain -%}
  {%- set buttonClasses = buttonClasses + ['tna-button--plain'] -%}
{%- endif -%}
{%- if params.iconOnly -%}
  {%- set buttonClasses = buttonClasses + ['tna-button--icon-only'] -%}
{%- endif -%}
{%- if params.iconOnlyOnMobile -%}
  {%- set buttonClasses = buttonClasses + ['tna-button--icon-only-mobile'] -%}
{%- endif -%}
{%- if params.rightAlignIcon -%}
  {%- set buttonClasses = buttonClasses + ['tna-button--icon-right'] -%}
{%- endif -%}
{%- set classes = ' '.join(buttonClasses) -%}
<{{ 'button' if params.buttonElement else 'a' }}{%- if not params.buttonElement %} href="{{ params.href }}"{%- endif %} class="tna-button {{ classes }}"{%- if params.buttonElement %} type="{{ params.buttonType or 'button' }}"{%- endif -%}{%- if params.title %} aria-label="{{ params.title }}" title="{{ params.title }}"{% endif %} {%- if params.attributes %}{% for attribute, value in params.attributes.items() %} {{ attribute }}{% if value != '' %}="{{ value }}"{% endif %}{% endfor %}{% endif %}>
  {% if params.icon -%}
  <i class="fa-solid fa-{{ params.icon }}" aria-hidden="true"></i>
  {% elif params.iconSvg -%}
  {{ params.iconSvg | safe }}
  {% endif -%}
  {% if params.html -%}
  {{ params.html | safe }}
  {% else -%}
  {{ params.text }}
  {% endif -%}
</{{ 'button' if params.buttonElement else 'a' }}>
{% endmacro %}