services:
  app:
    build:
      context: .
      dockerfile: test/flask/Dockerfile
    ports:
      - 5001:8080
    volumes:
      - ./test/flask/app:/app/app
      - ./test/playwright:/app/playwright-tests
      - ./test/test-fixtures.mjs:/app/test-fixtures.mjs
      - ./test/flask/pyproject.toml:/app/pyproject.toml
      - ./test/flask/poetry.lock:/app/poetry.lock
      - ./tna_frontend_jinja:/app/tna_frontend_jinja
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./node_modules:/app/node_modules
      - ./.nvmrc:/app/.nvmrc
      - ./.prettierignore:/app/.prettierignore
      - ./.eslintrc.js:/app/.eslintrc.js
      - ./hatch_build.py:/app/hatch_build.py
    healthcheck:
      start_period: 10s
      start_interval: 2s

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 5002:8000
