services:
  flask:
    build:
      context: .
      dockerfile: test/flask/Dockerfile
    ports:
      - 5001:8080
    volumes:
      - ./test/flask/app:/app/app
      - ./tna_frontend_jinja:/app/tna_frontend_jinja
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./node_modules:/app/node_modules

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 5002:8000
