services:
  flask:
    build:
      context: .
      dockerfile: test/flask/Dockerfile
    environment:
      - RUNTIME=develop
    ports:
      - 5001:8080
    volumes:
      - ./test/flask/app:/app/app
      - ./tna_frontend_jinja:/app/tna_frontend_jinja
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json

  dev:
    image: ghcr.io/nationalarchives/tna-python-dev:preview
    volumes:
      - ./:/app

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 5002:8000
