{%- from 'utilities/forms/form-item.html' import tnaFormItem -%}

{% macro tnaSearchField(params) %}
{%- call tnaFormItem({
  'headingLevel': params.headingLevel,
  'headingSize': params.headingSize,
  'id': params.id,
  'label': params.label,
  'hint': params.hint,
  'error': params.error,
  'classes': params.formItemClasses,
  'attributes': params.formItemAttributes
}) %}
  <div class="tna-search-field">
    <input type="search" id="{{ params.id }}" class="tna-search-field__input{% if params.classes %} {{ params.classes }}{% endif %}" name="{{ params.name }}" value="{{ params.value }}" spellcheck="{{ 'true' if params.spellcheck else 'false' }}"
    {%- if params.hint %} aria-describedby="{{ params.id }}-hint"{% endif %}
    {%- if params.maxLength %} maxlength="{{ params.maxLength }}"{% endif %}
    {%- if params.autofill %} autofill="{{ params.autofill }}"{% endif %}
    {%- if params.inputmode %} inputmode="{{ params.inputmode }}"{% endif %}
    {%- if params.attributes %}{% for attribute, value in params.attributes.items() %} {{ attribute }}{% if value != '' %}="{{ value }}"{% endif %}{% endfor %}{% endif %}>
    <button type="submit" class="tna-button tna-search-field__button">
      Search
      <i class="fa-solid fa-fw fa-arrow-right tna-!--hide-on-tiny" aria-hidden="true"></i>
    </button>
  </div>
{%- endcall %}
{% endmacro %}
