{% extends "layouts/base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/error-summary/macro.html' import tnaErrorSummary -%}
{%- from 'components/textarea/macro.html' import tnaTextarea -%}

{% block pageTitle %}{%- if form and form.errors %}Error: {% endif -%}Form – TNA Frontend WTForms{% endblock %}

{% block stylesheets %}
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/kaq6qqh.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Roboto+Mono:wght@400..500&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='@nationalarchives/frontend/nationalarchives/all.css') }}">
{% endblock %}

{% block cookies %}
{% endblock %}

{% block content %}
<div class="tna-container tna-!--padding-bottom-l">
  <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    {% if form.errors %}
      {{ tnaErrorSummary(wtforms_errors(form)) }}
    {% endif %}
    <h1 class="tna-heading-xl">Form</h1>
    <form data-testid="form" action="{{ request.url }}" method="post" novalidate>
      {{ form.csrf_token }}
      {% block form %}{% endblock %}
      {% if showSubmitButton != False %}
      <div class="tna-button-group">
        {{ tnaButton({
          'text': 'Submit',
          'buttonElement': True,
          'buttonType': 'submit',
        }) }}
      </div>
      {% endif %}
    </form>
  </div>
  <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-aside tna-aside--tight tna-background-tint">
      <h2 class="tna-heading-m">Status</h2>
      <p class="tna-!--margin-top-xs">
        <strong>
        {% if success %}
          ✅ Form submitted successfully
        {% elif form.errors %}
          ❌ Form contains errors
        {% else %}
          Form not submitted
        {% endif %}
        </strong>
      </p>
      <h2 class="tna-heading-m tna-!--no-padding-top">Form data</h2>
      <dl class="tna-dl tna-dl--plain tna-dl--stacked tna-!--margin-top-xs">
        {% for field in form %}
        {% if field.name not in ['csrf_token', 'submit'] %}
        <dt>{{ field.name }}</dt>
        <dd>{{ field.data }}</dd>
        {% endif %}
        {% endfor %}
      </dl>
      {% set form_data=form.data %}
      {% set csrf_token = form_data.pop('csrf_token') %}
      {{ tnaTextarea({
        'label': 'Form data (JSON)',
        'headingLevel': 3,
        'headingSize': 's',
        'id': 'form_data',
        'name': 'form_data',
        'value': form_data | tojson,
        'rows': 10,
        'formGroupClasses': 'tna-!--margin-top-s',
        'attributes': {
          'readonly': '',
          'data-testid': 'form_data'
        }
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
  <script src="{{ url_for('static', filename='@nationalarchives/frontend/nationalarchives/all.js') }}"></script>
  <script>window.TNAFrontend.initAll();</script>
{% endblock %}
