{%- from 'utilities/forms/form-item.html' import tnaFormItem -%}

{% macro tnaSelect(params) %}
{%- call tnaFormItem({
  'headingLevel': params.headingLevel,
  'headingSize': params.headingSize,
  'id': params.id,
  'label': params.label,
  'hint': params.hint,
  'error': params.error,
  'classes': params.formItemClasses,
  'attributes': params.formItemAttributes
}) %}
  <select class="tna-select{% if params.size %} tna-select--{{ params.size }}{% endif %}{%- if params.classes %} {{ params.classes }}{% endif %}" name="{{ params.name }}" id="{{ params.id }}"{% if params.hint %} aria-describedby="{{ params.id }}-hint"{% endif %} {%- if params.attributes %}{% for attribute, value in params.attributes.items() %} {{ attribute }}{% if value != '' %}="{{ value }}"{% endif %}{% endfor %}{% endif %}>
    {%- for item in params['items'] %}
    <option value="{{ item.value }}"{% if item.value == params.selected %} selected{% endif %}>{{ item.text }}</option>
    {%- endfor %}
  </select>
{%- endcall %}
{% endmacro %}
